.header {
  background-color: #dfdfdf;
}

#code-credit {
  padding: 5px;
  margin: 5px auto;
  font-size: 14px;
  color: rgb(85, 85, 85, 0.7);
  text-align: center;
}

.container {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: #dfdfdf;
}

h1 {
  border: #dfdfdf;
  border-style: solid;
  border-width: 10px;
  background-color: white;
  padding: 10px;
  max-height: 300px;
  color: #000000;
}

.additional-information {
  font-size: 24px;
  display: block;
  opacity: 0.5;
}

#icon {
  display: inline;
  max-width: 70px;
  padding: 0px;
}

#city-name {
  padding: 5px 5px 10px 0px;
  font-size: 44px;
  display: inline-block;
  text-transform: uppercase;
}

#country-name {
  font-size: 28px;
  display: inline-block;
  opacity: 0.5;
  text-align: right;
}

.temperature {
  display: block;
  float: right;
}

.temperature .active {
  cursor: default;
  color: #000000;
  text-decoration: none;
  opacity: 1;
}

.temperature .active:hover {
  cursor: default;
  text-decoration: none;
}

.temperature a {
  color: #000000;
  text-decoration: none;
  opacity: 0.5;
}

.temperature a:hover {
  cursor: pointer;
  opacity: 1;
  color: #000000;
}

.emoji {
  font-size: 30px;
  display: inline-block;
  padding: 0px auto;
}

#temperature-f:active {
  opacity: 1;
}

#pressure-humidity-wind {
  display: inline-block;
  padding: 5px;
  margin: 0 auto;
  text-align: left;
  height: 175px;
  line-height: 120%;
}

#date-time-location {
  text-align: right;
  font-size: 28px;
  display: block;
  height: 175px;
}

#main-info {
  display: block;
  height: 175px;
  line-height: 75%;
}

#location {
  font-size: 18px;
  color: #999999;
  opacity: 0.8;
  float: right;
  line-height: 200%;
}

.time-zone-info {
  display: block;
  font-size: 20px;
  color: #ff5e00;
  float: right bottom;
}

#your-time-zone {
  line-height: 200%;
}

h2 {
  text-align: center;
  font-size: 12px;
}

#forecast {
  background-color: white;
  border: #dfdfdf;
  border-style: solid;
  border-width: 10px;
  margin: 0 auto;
  padding: 5px;
}

.forecast-icon {
  width: 50px;
  height: 50px;
}

h3 {
  text-align: center;
  color: #ffb900;
}

h4 {
  text-align: center;
  font-size: 14px;
}

#highest-temperature {
  color: #ff5e00;
}

#lowest-temperature {
  color: #0084ff;
}

a #githubLink:link {
  color: #999999;
  text-decoration: none;
}

a #githubLink:active {
  color: #ffb900;
  text-decoration: underline;
}

a #githubLink:visited {
  color: #0084ff;
  text-decoration: none;
}

a #githubLink:hover {
  color: #999999;
  text-decoration: underline;
}
